<div class="App">
  <h2>Beers</h2>
  <table>
    <thead>
      <tr>
        <th class="align-left">Product</th>
        <th class="align-left">Temperature</th>
        <th class="align-left">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beer of dataBeers; trackBy: checkMeasures">
        <td class="name-column">{{ beer.name }}</td>
        <td class="temperature-column" data-column="temperature">{{ beer.temperature }}</td>
        <td class="status-column" data-column="status">{{ beer.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
